.App {
  text-align: center;
  color: mediumspringgreen;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  background-color: blanchedalmond;
  padding: 20px;
  border: 2px solid mediumspringgreen;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  margin: 20px auto;
  max-width: 600px;
}

a {
  text-decoration: none;
  font-size: 0.8em;
}

a:hover {
  text-decoration: underline;
}